APP_NAME=Pishrun Project
NODE_ENV=development


HOST=127.0.0.1
PORT=3000

BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_EMAIL=admin@cyberspace.ir
BOOTSTRAP_ADMIN_PASSWORD=Admin@123

DB_CONNECTION=postgres
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres
DB_PASSWORD=secret
DB_AUTOLOADENTITIES=true #for typeorm


JWT_SECRET=secretKey
JWT_EXPIRES_IN=60m



# Data Source APIs
# Dataak
DATAAK_URL=https://app.dataak.com
DATAAK_USERNAME=your_username
DATAAK_PASSWORD=your_password

# 8tag (Hashtag)
HASHTAG_URL=https://d1.8tag.ir
HASHTAG_USERNAME=your_username
HASHTAG_PASSWORD=your_password

# Datami
DATAMI_URL=https://datami.ir
DATAMI_USERNAME=your_username
DATAMI_PASSWORD=your_password

# Mahta
MAHTA_URL=https://app.mahta.co
MAHTA_USERNAME=your_username
MAHTA_PASSWORD=your_password

# Promtic (LLM Gateway)
PROMTIC_BASE_URL=https://papi.cyber.pish.run
PROMTIC_API_KEY=your_promtic_api_key
